---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting'
const pageTitle = "首页";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <!-- 你应该看到一个随机的问候，但按钮不会工作! -->
  <Greeting messages={["hi","hello","howdy","hey there"]}/>
  <!-- 使用client:load指令添加第二个<Greeting />组件 -->
  <Greeting client:load messages={["hi","hello","howdy","hey there"]}/>
</BaseLayout>