---
    import Hamburger from "./Hamburger.astro"
    import Navigation from "./Navigation.astro"
    import ThemeIcon from "../components/ThemeIcon.astro"
---

<header>
    <nav>
        <Hamburger />
        <ThemeIcon/>
        <Navigation />
    </nav>
</header>